---
export interface Props {
  tags: readonly string[];
}

const { tags }: Props = Astro.props;
---

{
  tags && (
    <ul class="tags">
      {tags.map((tag) => (
        <li>
          <a href={`/blog/tag/${tag}`}>#{tag}</a>
        </li>
      ))}
    </ul>
  )
}
