---
import { getUrlFromArticleSource, type ArticleSource } from "@/models/ArticleSource";

export interface Props {
  source?: ArticleSource;
  category?: string;
}

const { source, category } = Astro.props;
const icon = (() => {
  switch (source) {
    case "GitHub":
    case "Gist":
      return "fab fa-github";
    case "Twitter":
      return "fab fa-twitter";
    case "Nicovideo":
      return "fas fa-film";
    default:
      return "fas fa-folder";
  }
})();
---

{
  source?.length && (
    <a class="category" href={getUrlFromArticleSource(source)}>
      <i class={`${icon} fa-fw`} aria-hidden="true" />
      {source}
    </a>
  )
}
{
  category?.length && (
    <a class="category">
      <i class="fas fa-folder fa-fw" aria-hidden="true" />
      {category}
    </a>
  )
}
