---
import { getTagPermalink } from "@/lib/blog-entry-path";

export interface Props {
  tags: readonly string[];
}

const { tags }: Props = Astro.props;
---

{
  tags && (
    <ul class="tags">
      {tags.map((tag) => (
        <li>
          <a href={getTagPermalink(tag)}>#{tag}</a>
        </li>
      ))}
    </ul>
  )
}
