---
export interface Props {
  source?: "download" | "github";
  path: string;
}

const { source, path } = { source: "download", ...Astro.props };

const href =
  source === "download"
    ? `https://download.sorairo.pictures/${path}`
    : `https://github.com/mfakane/${path}/releases`;
---

<a href={href} rel="nofollow">
  <i class={`fas fa-download fa-fw`} aria-hidden="true"></i>
  Download
</a>
