---
export interface Props {
  href: string;
  title: string;
  description?: string;
}

const { href, title, description } = Astro.props;
---

<a href={href} class="card">
  <p class="card-title">{title}</p>
  {description && <p class="card-description">{description}</p>}
</a>
