<footer>
  <h2>Navigation</h2>
  <nav class="content-width">
    <section>
      <h3>MME エフェクト</h3>
      <ul>
        <li><a href="/3dcg/mme-effects/m4layer/">M4Layer</a></li>
        <li><a href="/3dcg/mme-effects/hatoon2/">HAToon2</a></li>
        <li><a href="/3dcg/mme-effects/postrimlighting/">PostRimLighting</a></li>
        <li><a href="/3dcg/mme-effects/">more...</a></li>
      </ul>
    </section>
    <section>
      <h3>3DCG</h3>
      <ul>
        <li><a href="/3dcg/models/">モデル</a></li>
        <li><a href="/3dcg/metaseq-plugins/">Metasequoia プラグイン</a></li>
        <li><a href="/3dcg/tools/">ツール</a></li>
      </ul>
    </section>
    <section>
      <h3>Linearstar</h3>
      <ul>
        <li><a href="/about/">About me</a></li>
        <li><a href="/apps/">Apps</a></li>
      </ul>
    </section>
  </nav>
</footer>
