<footer>
  <h2>Navigation</h2>
  <nav class="content-width">
    <section>
      <h3>Apps</h3>
      <ul>
        <li><a href="/">A</a></li>
      </ul>
    </section>
    <section>
      <h3>3DCG</h3>
      <ul>
        <li><a href="/">B</a></li>
      </ul>
    </section>
    <section>
      <h3>Linearstar</h3>
      <ul>
        <li><a href="/about/">About me</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Feed</a></li>
      </ul>
    </section>
  </nav>
</footer>
